* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  
html {
    font-size: 62.5%;
}

.parent {
    border: 2px black dotted;
    display: inline-block;
}

.box {
    display: inline-block;
    background-color: red;
    width: 200px;
    height: 200px;
    font-size: 25px;
}

section {
    padding-bottom: 80px;
}

.parent #two {
    background-color: green;
    position: relative;
    top: 15px;
}

/* Sigue en el flujo de la pagina pero se permite modificar con top buttom left y right */

.parent2 #three {
    background-color: green;
    position: absolute;
    bottom: 470px;
}

/* Deja de estar anclado al flujo normal de la pagina */

.parent3 #four {
    background-color: green;
    position: fixed;
    bottom: 500px;
}

.cuadrado {
    background-color: aqua;
    border-radius: 30px;
    width: 400px;
    height: 300px;
    margin: 0 auto;
}

.cuadrado-hijo {
    background-color: beige;
    border-radius: 30px;
    width: 60%;
    height: 30%;
    position: relative;
    bottom: 20px;
    margin: 0 auto;
}

.texto {
    width: 90%;
    margin: 0 auto;
}

.titulo {
    width: 10%;
    margin: auto;
    position: relative;
    top: 30px;
}